.book-list {
    border: 1px solid rgb(7, 99, 185);
    border-collapse:collapse;
    padding: 15px;
    margin: 25px;
}
.book-list th {
    border: 1px solid rgb(7, 99, 185);
    padding: 10px 15px;
    background: rgba(7, 99, 185, 0.15);
}
.book-list td {
    border: 1px solid rgb(7, 99, 185);
    padding: 10px 15px;
}